<h1>Todo app</h1>
<nav>
    {{#link-to "index" class="menu__link--all-todos"}}
      All
    {{/link-to}}
    {{#link-to "active" class="menu__link--active-todos"}}
      Active
    {{/link-to}}
    {{#link-to "completed" class="menu__link--completed-todos"}}
      Completed
    {{/link-to}}
    <input type="text" id="new-todo" onkeydown={{action 'createTodo'}} placeholder="What needs to be done?" autofocus>
</nav>
<div>
</div>
{{outlet}}